@model IEnumerable<FixerMovie.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>All Movies</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <div class="row">
            @foreach (var item in Model) {
                <div id="movieBox" class="col-md-6 movie-box">       
                    <div class="col-md-5">
                        <img src= "@Url.Content(item.poster_path)"  style="height:278px;width:185px;"/>
                    </div>
                    <div class="col-md-7">
                        <b>@Html.DisplayFor(modelItem => item.title)</b> 
                        @Html.DisplayFor(modelItem => item.overview)
                        <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                    </div>        
                </div>
            }
        </div>
    </tbody>
</table>
